<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<body>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="{% static 'js/body_fade.js' %}"></script>

  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <h1>C-MIX</h1>
        <p>Le club de DJs, producteurs et ambianceurs de CentraleSupélec.</p>
        <p>Que ce soit pour vos events associatifs, vos TU ou vos apéros de campagne, nous sommes là pour
          vous proposer des sessions de mix réalisées sur mesure pour ambiancer au mieux vos soirées.</p>

        <p>Retrouvez sur la photo l'équipe du mandat P27</p>

        <a href="{% url 'presta:reserver' %}" class="btn btn-primary mt-3">Demander une prestation 💽</a>
      </div>
      <div class="col-md-6 text-center">
        <img src="{% static 'img/shooting-p27/tous-7.jpg' %}" alt="L'équipe P27" class="img-fluid"
          style="width: 100%; height: auto; max-width: 850px;">

      </div>
    </div>
  </div>
</body>

{% endblock %}

</html>
