{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<body>
  <link rel="stylesheet" href="{% static 'css/name.css' %}">
  <script src="{% static 'js/body_fade.js' %}"></script>
  
  <div style="margin:auto; width: 70%; display: flex; flex-wrap: wrap; justify-content: flex-start;" class="row">
    <div class="col" style="flex: 1;">
      <h1>C-MIX</h1>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

      <div style="flex: 1;">
        <p><br><br><br></p>
        <p>Pour une soirée inoubliable, que ce soit pour une asso, un club, une FP, une soirée chill ou grandiose, envoyez votre demande ici en quelques clics !<br></p>
        <p>Nous traiterons votre demande et nous vous recontacterons dans les plus brefs délais.</p>
      </div>

      {% load crispy_forms_tags %}
      <form action="{% url 'presta:reserver' %}" method="POST">
        {% csrf_token %}
        
        <div class="row">
          {% for field in form %}
          <div class="col-md-6">
            {{ field|as_crispy_field }}
          </div>
          {% endfor %}
        </div>

          <div class="row">
          <div class="col-md-12 center">
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
      </form>

    </div>
  </div>
</body>
{% endblock %}
